### Zonal Extract By Point

Using an example raster and some semi-randomly placed points, we can extract the value of each raster cells at each point.

first, let's import some modules, including zonepy

In [1]:
import os, sys
sys.path.append('../')
import zonepy as zp

Next, we'll assign variables for the location of our point feature class (and the layer name within the feature class, which in this case is in a geopackage), the raster, and the output filename

In [2]:
gdb = 'zonepy_pts.gpkg'
ras = 'zone10kmCellNum.tif'
lyrName = 'zonepy_pts'
filenm = 'outputfile'

Now we instantiate our class by passing ZoneClass the required variables defined above.

In [3]:
zc = zp.ZoneClass(gdb, ras, lyrName=lyrName, fldname=None ,  
              filenm=filenm, output='csv')

After we have our class instance, called 'zc', we can call the extractByPoint() method to obtain the value of each raster cell for each point.

In [4]:
zc.extractByPoint()

/home/fluidmotion/gitrepos/zonepy/examples/outputfile

Currently, the results are written to a new column in the input feature class. We can view the result within the notebook by accessing the dictionary of results from the class.

NOTE: the results can only be written to feature class containers that are editable by GDAL - FileGDBs will typically not work.

In [7]:
zc.df

   uniqueID  value           long           lat
0         1   26.0  215226.619958  1.025147e+06
1         2   40.0  243786.619958  1.014563e+06
2         3   37.0  214722.619958  1.009691e+06
3         4   84.0  243618.619958  9.732348e+05
4         5    0.0  223497.887029  9.827003e+05
5         6   67.0  176955.259719  9.871820e+05
6         7   50.0  226961.276151  1.006637e+06