### Zonal Statistics Using Points

Using an example raster and some semi-randomly placed points, we can calculate the mean (or other statistic) of each raster value within a buffer of each point

first, let's import some modules, including zonepy

In [1]:
import os, sys
sys.path.append('../')
import zonepy as zp

Next, we'll assign variables for the location of our point feature class (and the layer name within the feature class, which in this case is in a geopackage), the raster, and the output filename

In [2]:
gdb = 'zonepy_pts.gpkg'
ras = 'zone10kmCellNum.tif'
lyrName = 'zonepy_pts'
filenm = 'outputfile'

Now we instantiate our class by passing ZoneClass the required variables defined above. In this example, we're using a buffer distance of 100 (meters) and a 'fact' of 30.

    fact: int, default 30, Ratio of vector area to raster cell size area Used to resample the raster to a smaller cell size when vector area is much smaller than raster cell size

In [3]:
zc = zp.zonal.ZoneClass(gdb, ras, lyrName=lyrName, fldname=None , 
              projIn=None, projOut=None, buffDist=100, cmap=None, fact=30, 
              filenm=filenm, csvout=True)

After we have our class instance, called 'zc', we can call the compute_stats method to calculate the statistics of each raster cell within the point buffers.

Warnings are generated because some points fall within no data areas of the raster.

In [4]:
zc.compute_stats()

7 of 7, id: 7
/home/fluidmotion/gitrepos/zonepy/examples/outputfile

../zonepy/zonal/zn.py:456: UserWarning: Warning: converting a masked element to nan.
  'min': float(np.ma.masked_invalid(masked).min()),
../zonepy/zonal/zn.py:457: UserWarning: Warning: converting a masked element to nan.
  'mean': float(np.ma.masked_invalid(masked).mean()),
../zonepy/zonal/zn.py:458: UserWarning: Warning: converting a masked element to nan.
  'max': float(np.ma.masked_invalid(masked).max()),
../zonepy/zonal/zn.py:459: UserWarning: Warning: converting a masked element to nan.
  'std': float(np.ma.masked_invalid(masked).std()),
../zonepy/zonal/zn.py:460: UserWarning: Warning: converting a masked element to nan.
  'sum': float(np.ma.masked_invalid(masked).sum()),
../zonepy/zonal/zn.py:462: UserWarning: Warning: converting a masked element to nan.
  'median': float(np.ma.median(np.ma.masked_invalid(masked)))}
../zonepy/zonal/zn.py:475: UserWarning: Warning: converting a masked element to nan.
  if np.isnan(float(np.ma.masked_invalid(masked).mean())):

While the result exists in the output file named above, we can view the result within the notebook by accessing the dataframe of the class.

In [5]:
zc._ZoneClass__df

   uniqueID  count   max  mean  median   min  std     sum
0         1   43.0  26.0  26.0    26.0  26.0  0.0  1118.0
1         2   43.0  40.0  40.0    40.0  40.0  0.0  1720.0
2         3   44.0  37.0  37.0    37.0  37.0  0.0  1628.0
3         4   43.0  84.0  84.0    84.0  84.0  0.0  3612.0
4         5    NaN   NaN   NaN     NaN   NaN  NaN     NaN
5         6   22.0  67.0  67.0    67.0  67.0  0.0  1474.0
6         7   25.0  50.0  50.0    50.0  50.0  0.0  1250.0